<div class="email_request">
	<div class="middle-parent-det col-md-10 col-xs-9">
		<div class="middle-child">
			<%= simple_form_for User.new, validate: true, remote: true, html: { data: { url: '/users', type: :json } } do |f| %>
  				<%= f.input :email, placeholder: "Enter your email to receive confirmation", label: false, type: "email", required: true %>
  				<%= f.input :pay_amount, as: "hidden" %>
 				<%= f.input :pay_currency, as: "hidden" %>
 				<%= f.input :buy_currency, as: "hidden" %>
 				<%= f.input :latitude, as: "hidden" %>
 				<%= f.input :longitude, as: "hidden" %>
 				<%= f.input :location_search, as: "hidden" %>
				<%= f.input :geocoded_location, as: "hidden" %> 				
		</div>
	</div>
	<div class="col-md-2 col-xs-2">
		<div class="middle-parent-det">
			<%= f.button :submit, 'Submit', class: "middle-child email_submit btn btn-mini btn-default rounded" %>
			<% end %>
		</div>
	</div>
</div>
<div class="exchange_details" style="display: none;">
	<div class="middle-parent-det col-md-6 col-xs-12">
		<div class="middle-child">
			<div class="address_n_times">
				<div class="address"></div>
				<div class="opening_hours">
					<span>Open today: </span>
					<span><a class="open_today"></a></span>
				</div>				
			</div>
		</div>
	</div>
	<div class="middle-parent-det col-md-2 col-xs-4">
		<div class="middle-child">
			<div><i class="fa fa-phone"></i></div>
			<div><a class="phone">call</a></div>
		</div>
	</div>
	<div class="middle-parent-det col-md-2 col-xs-4">
		<div class="middle-child">
			<div><i class="fa fa-arrows"></i></div>
			<div><a class="directions" href="#">Directions</a></div>
		</div>
	</div>
	<div class="middle-parent-det col-md-2 col-xs-4">
		<div class="middle-child">
			<div><i class="fa fa-link"></i></div>
			<div><a class="website" href="#">website</a></div>
		</div>
	</div>
</div>