<div class="container-fluid">

  <div class="row">
    <div id="exchanges" class="info-pane">
      <%= render 'exchanges/intro/index' %>
      <%= render 'exchanges/cards/index' %>
      <%= render 'exchanges/list/index' %>
      <%= render 'exchanges/search/index' %>
      <%= render 'exchanges/help/index' %>
      <%= render 'exchanges/reviews/index' %>
      <%= render 'exchanges/payment/index' %>
      <%= render 'exchanges/confirmation/index' %>
      <%= render 'exchanges/try/index' %>
    </div>

    <div class="map-pane">
      <%= render 'exchanges/templates/map' %>
    </div>
  </div>

</div>

<%= render 'exchanges/templates/ecard_template' %>
<%= render 'exchanges/templates/dialog' %>
<%= render 'exchanges/templates/snack_template' %>
<%= render 'exchanges/templates/review_template' %>
