<div class="container-fluid">
  <a name="exchanges"></a>
  <div id="exchanges_page">

    <div class="row">
        <ul id="progressbar" data-clicked="progressbar">
          <li data-active-pane='list' class="active"><span class="desktop_only">Select Exchange</span></li>
          <li data-active-pane='deal'><span class="desktop_only">Lock rate</span></li>
          <li data-active-pane='voucher'><span class="desktop_only">Get Voucher</span></li>
        </ul>
    </div>

    <%= render 'exchanges/params/index' %>
    <div class="row" id="exchanges_content">
      <div id="exchanges" class="col-md-3 col-xs-12 col-md-offset-half">
        <%= render 'exchanges/list/index' %>
        <%= render 'exchanges/summary/index' %>

        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <%= render 'exchanges/deal/index' %>
            </div>
            <div class="back">
              <%= render 'exchanges/voucher/index' %>
            </div>
          </div>
        </div>

       </div>
      <div id="map_container" class="">
        <div id="directions-panel" class="panel" style="display:none"></div>
        <div id="map-canvas" data-clicked="map"></div>
      </div>
    </div>
  </div>


</div>

<%= render 'exchanges/templates/exchange_row_template' %>
<%= render 'exchanges/templates/infowindow_template' %>