<div class="swiper-slide flex_center column" data-hash="delivery_location" data-index="4">

  <div class="iform_icon"><%= image_tag 'building.png' %></div>
  <div class="iform_title"><%= t 'isearch.delivery_location.title' %></div>
  <div class="iform_subtitle"><%= t 'isearch.delivery_location.subtitle' %></div>

  <div class="iform_content">

    <%= render '/exchanges/isearch/location' %>
    <%= render '/exchanges/isearch/okButton' %>

  </div>


</div>