<div class="swiper-slide okay_required flex_around column" data-hash="delivery_details" data-slideto="delivery_location">

  <div class="iform_icon"><%= image_tag 'person.png' %></div>
  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.details.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.details.subtitle' %></div>
  </div>

  <div class="iform_content">

    <%= render '/exchanges/isearch/details' %>
    <%= render '/exchanges/isearch/okButton' %>

  </div>


</div>