<div class="swiper-slide okay_required flex_around column" data-hash="delivery_location" data-slideto="delivery_payment">

  <div class="iform_icon"><%= image_tag 'building.png' %></div>
  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.delivery_location.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.delivery_location.subtitle' %></div>
  </div>

  <div class="iform_content">

    <%= render '/exchanges/isearch/location' %>
    <%= render '/exchanges/isearch/location_details' %>
    <%= render '/exchanges/isearch/okButton' %>

  </div>


</div>