<div class="swiper-slide flex_center column" data-hash="delivery" data-index="4">

  <div class="iform_icon"><%= image_tag 'building.png' %></div>
  <div class="iform_title"><%= t 'isearch.delivery.title' %></div>
  <div class="iform_subtitle"><%= t 'isearch.delivery.subtitle' %></div>

  <div class="iform_content">

    <div class="">
      <div class="flex_center form-group location">
        <label for="location" class="form-control control-label location_label" data-location-pickup="<%= t 'search.location.pickup' %>"  data-location-delivery="<%= t 'search.location.delivery' %>"></label>
        <input type="text" id="location" data-model="search" data-field="location" data-searchbox="true" name="search[location]" class="text-center location form-control">
        <span class="clear label form-control"><i class=material-icons>cancel</i></span>
      </div>
    </div>

    <%= render '/exchanges/isearch/okButton' %>

  </div>


</div>