<div class="swiper-slide okay_required flex_around column" data-hash="get" data-slideto="pay">

  <div class="iform_icon"><%= image_tag 'money.png' %></div>
  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.get.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.get.subtitle' %></div>
  </div>

  <div class="iform_content">

    <div class="md-form buy_currency select currency_fields">
      <select id="buy_currency" data-model="search" data-field="buy_currency" data-symboltarget="buy_amount" name="search[buy_currency]"
              class="currency_select select optional mdb-select text-end">
        <%= render '/exchanges/isearch/currencyOptions' %>
      </select>
      <label for="buy_currency"><%= t 'search.currency' %></label>
    </div>

    <div class="md-form buy_amount amount_fields">
      <input dir="ltr" type="tel" pattern="\d*" id="buy_amount"
             data-model="search" data-field="buy_amount" data-autonumeric="true" data-symbolsource="buy_currency" name="search[buy_amount]" class="form-control text-right amount_fields">
      <label for="buy_amount" class="control-label"  data-t-amount="<%= t 'search.amount' %>" data-t-best="<%= t 'search.best' %>"></label>
      <div class="calculated_icon"><i class="fa fa-hand-o-right"></i></div>
    </div>

    <%= render '/exchanges/isearch/okButton' %>

  </div>


</div>