<div class="pane iform" data-pane="isearch">

  <%= render partial: 'navbar', locals: {left_pane: 'none', left_icon: '', center: 'search_params', right_pane: 'none', right_icon: ''} %>

  <form class="search_form">

    <div class="questions swiper-container swiper-container-i">

      <div class="swiper-wrapper swiper-wrapper-i">

        <%= render '/exchanges/isearch/get' %>
        <%= render '/exchanges/isearch/pay' %>
        <%= render '/exchanges/isearch/service' %>
        <%= render '/exchanges/isearch/delivery_location' %>
        <%= render '/exchanges/isearch/pickup_location' %>
        <%= render '/exchanges/isearch/travelMode' %>
        <%= render '/exchanges/isearch/delivery_payment' %>
        <%= render '/exchanges/isearch/pickup_payment' %>
        <%= render '/exchanges/isearch/delivery_offer' %>
        <%= render '/exchanges/isearch/pickup_offer' %>
        <%= render '/exchanges/isearch/hidden' %>

      </div>

    </div>

  </form>

  <%= render 'exchanges/templates/iformsprogressbar' %>

</div>