<div class="swiper-slide branch flex_around column" data-hash="no_pickup_offer">

  <div class="section">
    <div class="iform_icon"><%= image_tag 'question.png' %></div>
    <div class="iform_title_subtitle flex_center column">
      <div class="iform_title"><%= t 'isearch.no_offer.title' %></div>
      <div class="iform_subtitle"><%= t 'isearch.no_offer.subtitle' %></div>
    </div>
  </div>

  <div class="section">
    <div class="no_offer_suggestion">
      <span class="no_offer_text"><%= t 'isearch.no_offer.delivery.get' %></span>
      <span class="no_offer_link" data-property="service_type" data-value="delivery" data-slideto="delivery_offer" data-nooffer="delivery_offer"><%= t 'isearch.no_offer.delivery.offer' %></span>
    </div>
  </div>

  <div class="section">
    <div class="no_offer_suggestion">
      <span class="no_offer_text"><%= t 'isearch.no_offer.location.or' %></span>
      <span class="no_offer_link" data-property="none" data-slideto="pickup_location" data-nooffer="pickup_location"><%= t 'isearch.no_offer.location.pickup' %></span>
    </div>
  </div>


</div>