<div class="swiper-slide branch flex_around column" data-hash="payment">

  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.payment.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.service.subtitle' %></div>
  </div>

  <div class="binary alternative flex_center column view overlay hm-white-slight" >
    <%= image_tag 'credit.png' %>
    <div class="text"><%= t 'isearch.payment.credit' %></div>
    <a><div class="mask waves-effect"></div></a>
  </div>


  <div class="binary alternative flex_center column view overlay hm-white-slight" >
    <%= image_tag 'cash.png' %>
    <div class="text"><%= t 'isearch.payment.cash' %></div>
    <a><div class="mask waves-effect"></div></a>
  </div>

</div>