<div class="swiper-slide flex_around column" data-hash="service" data-index="2">

  <div class="iform_title"><%= t 'isearch.service.title' %></div>

  <div class="binary alternative flex_center column" data-slideto="delivery">
    <div class="isearch_icon"><%= image_tag 'delivery.png' %></div>
    <div class="text"><%= t 'isearch.service.delivery' %></div>
  </div>

  <div class="binary alternative flex_center column" data-slideto="travelMode">
    <div class="isearch_icon"><%= image_tag 'pickup.png' %></div>
    <div class="text"><%= t 'isearch.service.pickup' %></div>
  </div>
</div>