<div class="swiper-slide branch flex_around column" data-hash="service" data-index="2">

  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.service.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.service.subtitle' %></div>
  </div>

  <div class="binary alternative flex_center column view overlay hm-white-slight" data-slideto="delivery_location">
     <%= image_tag 'delivery.png' %>
    <div class="text"><%= t 'isearch.service.delivery' %></div>
    <a><div class="mask waves-effect"></div></a>
  </div>

  <div class="binary alternative flex_center column view overlay hm-white-slight" data-slideto="pickup_location">
    <%= image_tag 'pickup.png' %>
    <div class="text"><%= t 'isearch.service.pickup' %></div>
    <a><div class="mask waves-effect"></div></a>
  </div>

</div>