<div class="swiper-slide branch flex_around column" data-hash="travelMode">

  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.travelMode.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.service.subtitle' %></div>
  </div>

  <div class="binary alternative flex_center column view overlay hm-white-slight" data-property="radius" data-value="20" data-slideto="pickup_payment">
    <%= image_tag 'drive.png' %>
    <div class="text"><%= t 'isearch.travelMode.drive' %></div>
    <a><div class="mask waves-effect"></div></a>
  </div>

  <div class="binary alternative flex_center column view overlay hm-white-slight" data-property="radius" data-value="1.5" data-slideto="pickup_payment">
    <%= image_tag 'walk.png' %>
    <div class="text"><%= t 'isearch.travelMode.walk' %></div>
    <a><div class="mask waves-effect"></div></a>
  </div>

</div>