<div class="swiper-slide okay_required flex_around column" data-hash="delivery_details" data-slideto="end" data-nooffer="no_delivery_offer">

  <div class="iform_icon"><%= image_tag 'money.png' %></div>
  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.get.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.get.subtitle' %></div>
  </div>

  <div class="iform_content">

    <%= render '/exchanges/isearch/address' %>
    <%= render '/exchanges/isearch/okButton' %>

  </div>


</div>