<div class="container-fluid photo_background">
	<div id="landing_header">
		<div class="row">
	  		<div class="col-md-8 col-md-offset-1">
	  			<div class="name_and_logo">
	  			<span class="h1">Cambiu</span>
				<span id="landing_icon"><%= image_tag "icon.png", class: "landing_icon" %></span>
				</div>
			</div>
		</div>
	</div>
	<div id="landing_content">
		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				<h1 class="text-uppercase hero text-center">Best exchange rates wherever you are</h1>
				<p class="lead text-center">Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</p>
			</div>
			<div id="rates" class="landing_form col-md-4 col-md-offset-1">
				<h2 class="text-center">Try it out!</h2>
				<%= simple_form_for @visitor, remote: true do |f| %>
					<div class="form-group inline">
						<div class="col-md-2 landing_form_label">
							<%= f.label 'Get' %>
						</div>
						<div class="col-md-4">
							<%= f.input :buy_currency, input_html: {class: 'text-center'}, label: false, collection: Currency.major, label_method: lambda{|c| c[:iso_code]}, value_method: lambda{|c| c[:iso_code]}, selected:"USD"  %>
						</div>						
						<div class="col-md-6">
							<%= f.input :buy, as: :string, input_html: {class: 'text-center', data: {autonumeric: true}}, label: false %>
						</div>
					</div>
					<p></p>
					<div class="form-group inline">						
						<div class="col-md-2 landing_form_label">
							<%= f.label 'For' %>
						</div>
						<div class="col-md-4">
							<%= f.input :pay_currency, input_html: {class: 'text-center'}, label: false, collection: Currency.major, label_method: lambda{|c| c[:iso_code]}, value_method: lambda{|c| c[:iso_code]}, selected: "GBP" %>
						</div>
						<div class="col-md-6">
							<%= f.input :pay, disabled: true, as: :string, input_html: {class: 'text-center', data: {autonumeric: true}}, label: false %>
						</div>
					</div>
					<div class="form-group inline">	
						<p id="cheaper" class="lead text-center">
							<strong>
							<span id="cheaper_amt">74.92</span>&nbsp;
							<span id="cheaper_cur">GBP</span>&nbsp;  cheaper
							</strong> than airport rate</p>
<!--						<p id="find_out" class="lead text-center">Want to find out more?</p>	-->				
						<%= f.button :submit, 'Book it', class: 'btn btn-success', id: 'landing_main_button' %>
					</div>
				<% end %>
			</div>
			<div id="subscribe" class="landing_form col-md-3 col-md-offset-1" style="display: none">
				<%= simple_form_for @visitor, remote: true do |f| %>
					<div class="text-center">
						<h2>There's much more!</h2>
						<p>Subscribe to our beta now and earn a free gift</p>
					</div>
					<div class="form-group inline">
						<div class="col-md-8">
							<%= f.input :email, as: :email, placeholder: 'My email', label: false %>
						</div>
						<div class="hidden">
							<%= f.input :buy, as: :hidden %>
							<%= f.input :buy_currency, as: :hidden %>
							<%= f.input :pay, as: :hidden %>
							<%= f.input :pay_currency, as: :hidden %>
						</div>
						<div class="col-md-4">
							<%= f.button :submit, 'Join', class: 'btn btn-success', id: 'join' %>
						</div>
					</div>
				<% end %>
			</div>
			<div id="thanks" class="landing_form text-center col-md-offset-1" style="display: none">
				<h1>Thank you!</h1>
				<p>We will send you an email soon</p>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	
	$.backstretch("https://d2zc23renulrga.cloudfront.net/assets/41254/izzg1ykwb9tmf2c7932d/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg");

	var rates = {}
	
	$.getJSON('/currencies/rates').done(function(data) {
		$.extend(rates, data)
	})	
	
	console.log(rates) 					// works
	console.log(rates["EUR_TO_USD"])	// doesnt work


	$('#landing_main_button').click(function() {
		$('#subscribe #visitor_buy').val($('#rates #visitor_buy').val())
		$('#subscribe #visitor_buy_currency').val($('#rates #visitor_buy_currency').val())
		$('#subscribe #visitor_pay').val($('#rates #visitor_pay').val())
		$('#subscribe #visitor_pay_currency').val($('#rates #visitor_pay_currency').val())
		$('#rates').hide();
		$('#subscribe').show();
		ga('send', 'event', 'button', 'click', 'landing-main-button');
		mixpanel.track("Landing main button");
	})
	$('#join').click(function() {
		$('#subscribe').hide();
		$('#thanks').show();
		ga('send', 'event', 'button', 'click', 'join');
		mixpanel.track("Landing Join button");
	})
	

	$('#visitor_buy, #visitor_buy_currency, #visitor_pay_currency').change(function() {
		var buy_cents =    $('#visitor_buy').val().replace(',', '').replace('.', '');
		var buy_currency = $('#visitor_buy_currency').val();
		var pay_currency = $('#visitor_pay_currency').val();
		
		$.get('/currencies/exchange', {
			buy_cents: buy_cents,
			buy_currency: buy_currency,
			pay_currency: pay_currency
		}
		).done(function(data) {
			$('#visitor_pay').attr('placeholder', '');
			$('#visitor_pay').val((data/100).toFixed(2));
			$('#cheaper_amt').html((Math.round(data*0.11)/100).toFixed(2));
			$('#cheaper_cur').html(pay_currency);
		});
	});
	
})
</script>
