<div class="container-fluid photo_background">
	<div id="landing_header">
		<div class="row">
	  		<div class="col-md-8 col-md-offset-1">
	  			<h1>Cambiu</h1>
			</div>
	  		<div class="col-md-3">
	  			<h3>Sign-up etc.</h3>
			</div>
		</div>
	</div>
	<div id="landing_content">
		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				<h1 class="text-uppercase hero text-center">Best exchange rates wherever you are</h1>
				<p class="lead text-center">Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</p>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<h2>Try it out for yourself</h2>
				<%= simple_form_for @visitor, class: 'form-inline' do |f| %>
					<div class="form-group inline">
						<div class="col-md-2">
							<%= f.label 'Get' %>
						</div>
						<div class="col-md-6">
							<%= f.input :buy_cents, as: :string, input_html: {class: "text-right"}, placeholder: '1,000.00', label: false %>
						</div>
						<div class="col-md-4">
							<%= f.input :buy_currency, label: false %>
						</div>						
					</div>
					<div class="form-group inline">						
						<div class="col-md-2">
							<%= f.label 'For' %>
						</div>
						<div class="col-md-6">
							<%= f.input :pay_cents, as: :string, input_html: {class: 'text-right'}, placeholder: '650.00', label: false %>
						</div>
						<div class="col-md-4">
							<%= f.input :pay_currency, label: false %>
						</div>
					</div>
					<%= f.button :submit, 'Get started', class: 'btn btn-success' %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script>
	$.backstretch("https://d2zc23renulrga.cloudfront.net/assets/41254/izzg1ykwb9tmf2c7932d/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg");
</script>
