<div class="container-fluid photo_background">
	<div id="landing_header">
		<div class="row">
	  		<div class="col-md-8 col-md-offset-1">
	  			<h1>Cambiu</h1>
			</div>
		</div>
	</div>
	<div id="landing_content">
		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				<h1 class="text-uppercase hero text-center">Best exchange rates wherever you are</h1>
				<p class="lead text-center">Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</p>
			</div>
			<div id="rates" class="landing_form col-md-4 col-md-offset-1">
				<h2 class="text-center">Try it out for yourself</h2>
				<%= simple_form_for @visitor, remote: true do |f| %>
					<div class="form-group inline">
						<div class="col-md-2">
							<%= f.label 'Get' %>
						</div>
						<div class="col-md-6">
							<%= f.input :buy_cents, as: :string, input_html: {class: "text-right"}, placeholder: '1,000.00', label: false %>
						</div>
						<div class="col-md-4">
							<%= f.input :buy_currency, label: false, collection: Currency.major, label_method: lambda{|c| c[:iso_code]}, value_method: lambda{|c| c[:iso_code]}, selected:"USD"  %>
						</div>						
					</div>
					<p></p>
					<div class="form-group inline">						
						<div class="col-md-2">
							<%= f.label 'For' %>
						</div>
						<div class="col-md-6">
							<%= f.input :pay_cents, as: :string, input_html: {class: 'text-right'}, placeholder: '650.00', label: false %>
						</div>
						<div class="col-md-4">
							<%= f.input :pay_currency, label: false, collection: Currency.major, label_method: lambda{|c| c[:iso_code]}, value_method: lambda{|c| c[:iso_code]}, selected: "GBP" %>
						</div>
					</div>
					<div class="form-group inline">						
						<%= f.button :submit, 'Get started', class: 'btn btn-success', id: 'find_rates' %>
					</div>
				<% end %>
			</div>
			<div id="subscribe" class="landing_form col-md-3 col-md-offset-1" style="display: none">
				<%= simple_form_for @visitor, remote: true do |f| %>
					<div class="text-center">
						<h2>There's much more!</h2>
						<p>Subscribe to our beta now and earn a free gift</p>
					</div>
					<div class="form-group inline">
						<div class="col-md-8">
							<%= f.input :email, as: :email, placeholder: 'My email', label: false %>
						</div>
						<div class="col-md-4">
							<%= f.button :submit, 'Join', class: 'btn btn-success', id: 'join' %>
						</div>
					</div>
				<% end %>
			</div>
			<div id="thanks" class="landing_form text-center col-md-offset-1" style="display: none">
				<h1>Thank you!</h1>
				<p>We will send you an email soon</p>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	
	$.backstretch("https://d2zc23renulrga.cloudfront.net/assets/41254/izzg1ykwb9tmf2c7932d/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg");
	
	$('#find_rates').click(function() {
		$('#rates').hide();
		$('#subscribe').show();
	})
	$('#join').click(function() {
		$('#subscribe').hide();
		$('#thanks').show();
	})
	
})
</script>
