<div class="container-fluid">
	<h3>Example heading <span class="label label-default">New</span></h3>
<nav class="navbar navbar-inverse">
  ...
</nav>
  <div class="row">
  	<%= simple_form_for @rate, :html => { :class => 'form-horizontal' } do |f| %>
  	<div class="col-md-8">

  <%= f.input :exchange_id %>

  <%= f.input :buy_cents %>
  <%= f.input :buy_currency %>
  <%= f.input :pay_cents %>
  <%= f.input :pay_currency %>
  <%= f.input :source %>
    </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rates_path, :class => 'btn' %>
  </div>
<% end %>
</div></div>

<%- model_class = Rate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:exchange_id) %></th>
      <th><%= model_class.human_attribute_name(:buy_cents) %></th>
      <th><%= model_class.human_attribute_name(:buy_currency) %></th>
      <th><%= model_class.human_attribute_name(:pay_cents) %></th>
      <th><%= model_class.human_attribute_name(:pay_currency) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= link_to rate.id, rate_path(rate) %></td>
        <td><%= rate.exchange_id %></td>
        <td><%= rate.buy_cents %></td>
        <td><%= rate.buy_currency %></td>
        <td><%= rate.pay_cents %></td>
        <td><%= rate.pay_currency %></td>
        <td><%= rate.source %></td>
        <td><%=l rate.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_rate_path(rate), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      rate_path(rate),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rate_path,
            :class => 'btn btn-primary' %>

<script><!--
var currency_rate_list=new Array("USD","EUR");
var currency_template="<a href=\"$link\">The $from_abbrev is worth <b>$rate</b> $to_abbrevs </a><br>";
var currency_round=true;
//--></script>
<script src="http://coinmill.com/frame.js"></script>
<br><small>Currency data courtesy <a href="http://coinmill.com/">coinmill.com</a></small>