<div id="landing_page">
	<div class="container-fluid photo_background">
		<div id="landing_background">
			<video id="video_background" preload="auto" autoplay="autoplay" loop="loop" style="position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: -100;"><source src="preview.mp4" type="video/mp4"></source>bgvideo</video> 				
		</div>
		<div id="landing_header">
			<div class="row">
	  			<div id="landing_name" class="text-center">cambiu</div>			
			</div>
		</div>
		<div id="landing_content">
			<div class="row">
				<div id="hero" class="col-md-5 col-md-offset-1">
					<h2 class="hero title text-center">How much you think your $100 are worth?</h2>
					<p id="para" class="lead text-center">Find the best<br /> foreign<br /> currency deals</p>
				</div>
				<div id="rates" class="landing_form col-md-4 col-md-offset-1">
					<h2 class="hero title text-center">Check it out now</h2>
					<%= simple_form_for @visitor do |f| %>
						<div class="form-group inline">
							<div class="col-md-2 landing_form_label">
								<%= f.label 'Change' %>
							</div>
							<div class="col-md-4">
								<%= f.input :buy_currency, input_html: {class: 'text-center'}, label: false, collection: Currency.major, label_method: lambda{|c| c[:iso_code]}, value_method: lambda{|c| c[:iso_code]}, selected:"USD"  %>
							</div>						
							<div class="col-md-6">
								<%= f.input :buy, as: :string, input_html: {class: 'text-center', data: {autonumeric: true}}, label: false %>
							</div>
						</div>
						<p></p>
						<div class="form-group inline">						
							<div class="col-md-2 landing_form_label">
								<%= f.label 'To' %>
							</div>
							<div class="col-md-4">
								<%= f.input :pay_currency, input_html: {class: 'text-center'}, label: false, collection: Currency.major, label_method: lambda{|c| c[:iso_code]}, value_method: lambda{|c| c[:iso_code]}, selected: "GBP" %>
							</div>
							<div class="col-md-6">
								<%= f.input :pay, disabled: true, as: :string, input_html: {class: 'text-center', data: {autonumeric: true}}, label: false %>
							</div>
						</div>
						<div class="form-group inline">	
							<p id="cheaper" class="lead text-center">
								<strong>
								<span id="cheaper_amt">&nbsp;</span>&nbsp;
								<span id="cheaper_cur"></span>&nbsp;cheaper
								than airport</strong> </p>
	<!--						<p id="find_out" class="lead text-center">Want to find out more?</p>	-->				
							<%= f.button :submit, 'Find it', class: 'btn btn-success', id: 'landing_main_button' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div id="landing_footer">
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	
	var rates = {}
	
	$.getJSON('/currencies/rates').done(function(data) {
		$.extend(rates, data)
	})	
	
	console.log(rates) 					// works
	console.log(rates["EUR_TO_USD"])	// doesnt work


	$('#landing_main_button').click(function() {
		ga('send', 'event', 'button', 'click', 'landing-main-button');
		mixpanel.track("Landing main button");
	})
	$('#join').click(function() {
		ga('send', 'event', 'button', 'click', 'join');
		mixpanel.track("Landing Join button");
	})
	

	$('#visitor_buy, #visitor_buy_currency, #visitor_pay_currency').change(function() {
		ga('send', 'event', 'button', 'click', 'Checking rates');
		mixpanel.track('Checking rates');
		var buy_cents =    $('#visitor_buy').val().replace(',', '').replace('.', '');
		var buy_currency = $('#visitor_buy_currency').val();
		var pay_currency = $('#visitor_pay_currency').val();
		
		$.get('/currencies/exchange', {
			buy_cents: buy_cents,
			buy_currency: buy_currency,
			pay_currency: pay_currency
		}
		).done(function(data) {
			$('#visitor_pay').attr('placeholder', '');
			$('#visitor_pay').val((data/100).toFixed(2));
			$('#cheaper_amt').html((Math.round(data*0.11)/100).toFixed(2));
			$('#cheaper_cur').html(pay_currency);
		});
	});
	
	// Initial setting of "cheaper" value (ToDo: DRY...)
	$.get('/currencies/exchange', {
		buy_cents:    $('#visitor_buy').val().replace(',', '').replace('.', ''),
		buy_currency: $('#visitor_buy_currency').val(),
		pay_currency: $('#visitor_pay_currency').val()
		}
		).done(function(data) {
			$('#cheaper_amt').html((Math.round(data*0.11)/100).toFixed(2));
		});
	

})
</script>
