<div class="swiper-slide intro-slide fullscreen <%= seq %>">


  <div class="version"></div>

  <div class="illustration">
    <% if illustration %>
      <%= image_tag illustration %>
    <% else %>
      Illustration
    <% end %>
  </div>

  <div class="message flex_around column">
    <% if title %>
      <p class="title"><%= title %></p>
    <% end %>
    <% if text %>
      <p class="text flex_center"><%= text %></p>
    <% end %>
    <% if getOffer %>
        <button class="getOffer btn btn-flat waves-effect bg-brand-b" data-href-page="exchanges" data-href-pane="search"><%= t 'intro.getOffer'  %></button>
    <% end %>
  </div>

  <%= render partial: 'slidebar', locals: {swiper: 'swiperIntro', left: left, right: right} %>

</div>
