<div class="row footer">
  <div class="col-xs-12 col-md-offset-3 col-md-6">
    <div class="row">
<!--
      <div class="col-xs-12 col-md-3">
        <h5 class="links_title">Company</h5>
        <%= link_to "Blog", "#" %>
        <%= link_to "Press", "#" %>
        <%= link_to "About us", "#" %>
        <%= link_to "Join our beta", "#" %>
        <%= link_to "Contact us", "#" %>
      </div>
      <div class="col-xs-12 col-md-3">
        <h5 class="links_title">Exchange Points</h5>
        <%= link_to "For Exchanges", "#" %>
        <%= link_to "Add Exchange", "#" %>
        <%= link_to "How does it work?", "#" %>
        <%= link_to "Regulation", "#" %>
        <%= link_to "Jobs", "#" %>
      </div>
      <div class="col-xs-12 col-md-3">
        <h5 class="links_title">Legal and Terms</h5>
        <%= link_to "Privacy and Security", "#" %>
        <%= link_to "Terms and Conditions", "#" %>
        <%= link_to "How does it work?", "#" %>
        <%= link_to "Regulation", "#" %>
        <%= link_to "Jobs", "#" %>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="social_networks">
            <%= link_to "#" do  %>
                <%= image_tag "facebook_icon.png", data: {clicked: 'facebook icon'} %> <span data-clicked="facebook link">Facebook</span>
            <% end %>
            <%= link_to "#" do  %>
                <%= image_tag "twitter_icon.png", data: {clicked: 'twitter icon'} %> <span data-clicked="twitter link">Twitter</span>
            <% end %>
            <%= link_to "#" do  %>
              <%= image_tag "googleplus_icon.png", data: {clicked: 'googleplus icon'} %> <span data-clicked="googleplus link">Google+</span>
            <% end %>
        </div>
-->
      </div>
    </div>
    <div class="row text-center">
      <div class="all_rights_reserved">
      <!--  <p>&copy; All rights reserved to Cambiu 2015</p>-->
      </div>
    </div>
  </div>
</div>