<div class="container-fluid">

  <%= render 'above_fold' %>

  <% unless request.url.include? 'exchanges' %>

	<%= render 'how_does_it_work' %>
    <%= render 'testimonials' %>
	<%= render 'map' %>
	<%= render 'footer' %>

  <% end %>
</div>
