<div id="home_a">
	<div class="container-fluid photo_background">
		<div id="home_container" class="row">
			<div id="home_message" class="col-md-5 col-md-offset-1 col-xs-12 text-center">
				<div  id="message_header"><%= t :title, scope: [@landing], default: 'Best currency exchange deals near you' %></div>
				<div id="message_remainder">
					<%= t :text, scope: [@landing], default: 'Save on high commission fees with a few simple clicks. Anytime. Anywhere.' %>
				</div>
				<div id="message_bottom">
					<div class="fb-like" data-href="http://www.cambiu.com" data-width="100px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
				</div>
			</div>
			<div id="home_form" class="col-md-4 col-md-offset-1 col-xs-12 text-center">
				<form id="new_user" method="post" action="/users" class="form-inline">
					<div class="row">
					  	<div class="form-group col-md-5 col-xs-5">
							<select id="user_pay_currency" name="user[pay_currency]" class="select optional text-center form-control">
								<option value="GBP" selected="selected">GBP</option>
								<option value="EUR">EUR</option>
								<option value="USD">USD</option>
								<option value="AUD">AUD</option>
								<option value="CAD">CAD</option>
								<option value="JPY">JPY</option>
							</select>
						</div>
						<div id="exchange_symbol" class="col-md-2 col-xs-2">
							<i class="fa fa-hand-o-right"></i>
						</div>
					  	<div id="the-basics" class="form-group col-md-5 col-xs-5">
							<select id="user_buy_currency" name="user[buy_currency]" class="select optional text-center form-control">
								<option value="USD" selected="selected">USD</option>
								<option value="EUR">EUR</option>
								<option value="GBP">GBP</option>
								<option value="AUD">AUD</option>
								<option value="CAD">CAD</option>
								<option value="JPY">JPY</option>
							</select>
					  	</div>
				  	</div>
				  	<div class="row">
						<div class="form-group col-md-12 col-xs-12">
							<input type="text" pattern="\d*" id="user_pay_amount" data-autonumeric="true" name="user[pay_amount]" class="form-control" placeholder="placeholder" value="1001">
					  	</div>
				  	</div>
				  	<div class="row">
					  	<div class="col-md-12 col-xs-12">
						  	<div class="hidden" style="display:none">
						  		<input id="user_pay_amount" type="hidden" name="user[pay_amount]">
						  		<input type="hidden" name="user[latitude]" value="51.507351">
						  		<input type="hidden" name="user[longitude]" value="-0.127758">
						  		<input id="location" type="hidden" name="user[location]" value="default">
						  		<input type="hidden" name="user[bbox]" value="default">
						  		<input type="hidden" name="user[landing]" value="<%= @landing %>">
						  		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							</div>
						  	<div id="search_div" class="form-group">
								<button id="search_button" class="form-control btn btn-success" type="button"><%= t :search_button, scope: [@landing], default: 'Exchange' %></button>
							</div>
							<div id="location_text" class="form-group">
								You are at <span id="current_address"></span><a href="#" id="location_link">Change location</a>
							</div>
							<div id="location_input" class="form-group" style="display: none;">
								<input type="text" id="location_search" name="location_search" placeholder="look for exchanges in..." class="form-control">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>			
	</div>
</div>		
<div id="home_b">
	<div class="container-fluid">
		<div class="row">
			<div id="b_title" class="col-md-12 col-xs-12 text-center">
				<%= t :b_title, scope: [@landing] %>
			</div>
		</div>
		<div class="row">
			<div id="b_features">
				<div class="col-md-4 col-xs-12 text-center">
					<i class="fa fa-map-marker"></i>
					<p class="feature_title">Feature title</p>
					<div class="feature_description"><%= t :b_description, scope: [@landing] %></div>
				</div>
				<div class="col-md-4 col-xs-12 text-center">
					<i class="fa fa-money"></i>
					<p class="feature_title">Feature title</p>
					<div class="feature_description"><%= t :b_description, scope: [@landing] %></div>
				</div>
				<div class="col-md-4 col-xs-12 text-center">
					<i class="fa fa-users"></i>
					<p class="feature_title">Feature title</p>
					<div class="feature_description"><%= t :b_description, scope: [@landing] %></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="home_c">
	<div class="container-fluid">
		<div class="row">
			<div id="c_chains" class="col-md-12 col-xs-12 text-center">
				<%= t :c_chains, scope: [@landing] %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-6 text-center">
				<%= image_tag "postoffice.jpg" %>
			</div>
			<div class="col-md-4 col-xs-6 text-center">
				<%= image_tag "travelex.jpg" %>
			</div>
			<div class="col-md-4 col-xs-6 text-center">
				<%= image_tag "ice.png" %>
			</div>
			<div class="col-md-4 col-xs-6 text-center">
				<%= image_tag "moneycorp.jpg" %>
			</div>
			<div class="col-md-4 col-xs-6 text-center">
				<%= image_tag "uaexchange.jpg" %>
			</div>
			<div class="col-md-4 col-xs-6 text-center">
				<%= image_tag "coventgardenfx.jpg", id: "coventgarden" %>
			</div>
		</div>
		<div class="row" id="social_icons">
			<div class="col-md-2 col-md-offset-3 col-xs-4 text-center">
				<a href="#">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
					</span>
				</a>
			</div>
			<div class="col-md-2 col-xs-4 text-center">
				<a href="#">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
					</span>
				</a>
			</div>
			<div class="col-md-2 col-xs-4 text-center">
				<a href="#">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-google-plus fa-inverse fa-stack-1x"></i>
					</span>
				</a>
			</div>
		</div>	
	</div>	
</div>
<div id="footer">
	<div class="container-fluid">
		<div class="row text-center" id="quote">
			<div id="testimonial" class="col-md-10 col-md-offset-1">			
				<blockquote>
				  <p><i class="fa fa-quote-left"></i>&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <footer>Enthusiastic user at <cite title="Source Title">Source Title</cite></footer>
				</blockquote>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<a href="#">Blog</a>
				<a href="#">Press</a>
				<a href="#">About Us</a>
				<a href="#">Join our Beta</a>
				<a href="#">Contact Us</a>
			</div>
			<div class="col-md-4 col-xs-12">
				<a href="#">For Exchanges</a>
				<a href="#">Add Exchange</a>
				<a href="#">How does it work</a>
				<a href="#">Regulation</a>
				<a href="#">Jobs</a>
			</div>
			<div class="col-md-4 col-xs-12">
				<a href="#">Privacy & Security</a>
				<a href="#">Add Exchange</a>
				<a href="#">How does it work</a>
				<a href="#">Regulation</a>
				<a href="#">Jobs</a>
			</div>
		</div>
		<div class="row text-center" id="copyright">
			<i class="fa fa-copyright"></i> Cambiu 2015
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	
	$('#user_pay_amount_val, #user_pay_amount').val("1,000.00");
	

	// hide address bar - not working as of iOS7
	window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
		// Hide the address bar!
		window.scrollTo(0, 1);
	}, 0);
	});


	// Store user location in hidden form fields
	getLocation();
	

	// rails' jquery_ujs remote by hand
	$('#new_user').submit(function() {  
	    var valuesToSubmit = $(this).serialize();
	    $.ajax({
	        type: "POST",
	        url: $(this).attr('action'), 
	        data: valuesToSubmit,
	        dataType: "JSON",
	    }).success(function(json){
	        //act on result.
	    });
	    return false; // prevents normal behaviour
	});

	// Analyses & Flow
	$('#user_pay_amount, #user_pay_currency, #user_buy_currency').change(function() {
		ga('send', 'event', 'button', 'click', 'Populating rates');
		mixpanel.track('Checking rates');
	})

/*
	$('#search_button').click(function() {
		ga('send', 'event', 'button', 'click', 'Clicking search');
		mixpanel.track("Search button");

		var pay_cents =    $('#user_pay_amount').val().replace(',', '').replace('.', '');
		var pay_currency = $('#user_pay_currency').val();
		var buy_currency = $('#user_buy_currency').val();


		$.get('/currencies/exchange', {
			pay_cents: pay_cents,
			pay_currency: pay_currency,
			buy_currency: buy_currency
		}
		).done(function(data) {
			if (data == null) {
				location.reload(); 				
			} else {				console.log(data.offer)
				$('.form-group:not(.email_group)').css('display', 'none');
				$('.email_group').css('display', 'block');
				$('#message_header').html('<%= t :offer_prefix, scope: [@landing], default: 'We can offer you ' %>' + data.offer.replace(/['"]+/g, ''));
				$('#message_remainder').html('<%= t :gain, scope: [@landing], default: 'Your gain: ' %>' + data.gain.replace(/['"]+/g, ''));
			}
		})
	});
*/
	$('#email_button').click(function() {
		ga('send', 'event', 'button', 'click', 'Leaving email');
		mixpanel.track("Email button");
		$('#message_header').html('<%= t :thanks_title, scope: [@landing], default: 'Thank you for your interest!' %>')
		if ($('#user_email').val()) {
			$('#message_remainder').html('<%= t :thanks_text, scope: [@landing], default: 'We will let you know as soon as we launch!' %>')			
		}
	})
	
	$('#location_link').click(function() {
		$('#location_text').css('display', 'none');
		$('#location_input').css('display', 'block');
	})
	

})
</script>
