<div class="row">

  <%= simple_form_for(Search.new, html: {id: 'exchange_search'}, defaults: {input_html: {class: 'form-control'}, label: false}) do |f| %>

    <div class="deal">

      <div class="exchange_search_form_title col-md-6 col-xs-12 text-center">
        You Pay
      </div>
      <div class="exchange_search_form_title desktop_only col-md-6 text-center">
        You Get
      </div>

      <div class="form-group col-md-3 col-xs-6 reach-out-right">
        <%= f.input :pay_amount, input_html: {id: 'pay_amount', class: 'form-control', type: 'text', pattern: '\d*',
                                              data: {single: 'false', autonumeric: true, symbolsource: 'pay_currency', model: 'exchange', field: 'pay_amount'} } %>
      </div>

      <div class="form-group col-md-3 col-xs-6 reach-out-left">
        <%= f.input :pay_currency, as: Rails.application.config.exchange_search_inactive ? :string : :select, collection: Currency.major_with_symbol, input_html: {id: 'pay_currency', class: 'currency_select select optional text-center form-control',
                                                                                                                                                                   data: {model: 'exchange', field: 'pay_currency', single: 'false', symboltarget: 'pay_amount'}},  include_blank: false %>
      </div>

      <div class="exchange_search_form_title mobile_only col-xs-12 text-center">
        You Get
      </div>

      <div class="form-group col-md-3 col-xs-6 reach-out-right">
        <%= f.input :buy_amount, input_html: {id: 'buy_amount', class: 'form-control', type: 'text', pattern: '\d*',
                                              data: {single: 'false', autonumeric: true, symbolsource: 'buy_currency', model: 'exchange', field: 'buy_amount'} } %>
      </div>

      <div class="form-group col-md-3 col-xs-6 reach-out-left">
        <%= f.input :buy_currency, as: Rails.application.config.exchange_search_inactive ? :string : :select, collection: Currency.major_with_symbol, input_html: {id: 'buy_currency', class: 'currency_select select optional text-center form-control',
                                                                                                                                                                   data: {model: 'exchange', field: 'buy_currency', single: 'false', symboltarget: 'buy_amount'}},  include_blank: false %>
      </div>

 <!--     <div class="exchange_search_form_title mobile_only col-xs-12 text-center">
        By
      </div>
-->
    </div>

<!--
    <div class="delivery_method collection col-md-3 col-xs-6 reach-out-right">
           <button data-service-type="collection" type="button" class="btn btn-default">Collection</button>
    </div>
    <div class="delivery_method delivery col-md-3 col-xs-6 reach-out-left" data-content="" data-toggle="popover">
          <button data-service-type="delivery" type="button" class="btn btn-default">Delivery</button>
    </div>
-->

    <div class="col-md-6 col-xs-12">
      <div class="row exchange_search_form_gain ">
        <span class="fees"></span>
      </div>
    </div>

    <div class="text-center exchange_search_form_error col-md-12 col-xs-12">

    </div>

  <% end %>

</div>
