<div id="exchange_summary" class="pane <%= params[:controller] == 'exchanges' ? 'active' : '' %>" data-pane="summary" data-model="exchange" data-id='' style="display: <%= params[:controller] == 'exchanges' ? 'block' : 'none' %>">

  <% if @mode == 'exchange' %>
      <div class="well clearfix" id="exchange_search">
        <%= render 'exchanges/summary/exchange_search_form' %>
      </div>
  <% end %>

  <div class="exchange_summary_bg">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="exchange_summary_title">Exchange Summary</div>
<!--
        <div class="back" data-href="#exchanges_list"><%= fa_icon "chevron-left", text: "  Back", left: true %></div>
-->
        <%= image_tag 'summary_bg.jpg' %>
      </div>
    </div>
  </div>

  <% if @mode != 'exchange' %>
    <%= render 'exchanges/exchange_banner' %>
  <% end %>

  <% if @mode != 'exchange' %>
      <div class="order">
        <div class="row">
          <div class="buy col-xs-4 col-xs-offset-1 col-md-4 col-md-offset-2">
            <div class="you_chose">
              <div>
                <span>Pay:</span>
              </div>
              <div>Get:</div>
              <div>Your gain:</div>
            </div>
          </div>
          <div class="pay col-xs-5 col-md-4">
            <div class="sum">
              <span class="pay_amount" data-model="exchange" data-field="pay_amount"></span>
              <span class="pay_currency" data-model="exchange" data-field="pay_currency"></span>
            </div>
            <div class="sum">
                <span class="buy_amount" data-model="exchange" data-field="buy_amount"></span>
                <span class="buy_currency" data-model="exchange" data-field="buy_currency"></span>
            </div>
            <div class="sum">
                <span class="gain_amount" data-model="exchange" data-field="gain_amount"></span>
                <span class="gain_currency" data-model="exchange" data-field="gain_currency"></span>
            </div>
            <div class="sum">
              <span class="fees">All fees are included</span>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <div class="email_form">
    <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'order_form', locals: {status: 'produced'} %>
          <% if @mode == 'search' %>
              <p class="no_thanks text-center">
                    <a  data-href="exchanges/list">No thanks, I'll keep searching</a>
              </p>
              <% end %>
        </div>
    </div>
  </div>



</div>