<div id="exchange_summary" class="pane <%= params[:controller] == 'exchanges' ? 'active' : '' %>" data-pane="summary" data-model="exchange" data-id='' style="display: <%= params[:controller] == 'exchanges' && params[:display] == 'summary' ? 'block' : 'none' %>">

  <div class="exchange_summary_bg">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="exchange_summary_title">Exchange Summary</div>
        <!--
        <div class="back" data-href="#exchanges_list"><%= fa_icon "chevron-left", text: "  Back", left: true %></div>
-->
        <%= image_tag 'summary_bg.jpg' %>
      </div>
    </div>
  </div>


  <%= render 'exchanges/exchange_banner' %>

   <div class="well clearfix" id="exchange_search">
    <%= render 'exchanges/summary/exchange_search_form' %>
  </div>

   <div class="email_form well">
    <div class="row">
        <div class="col-xs-12">
          <%= image_tag '100_free.png', class: 'free' %>
          <%= render partial: 'order_form', locals: {email: 'required'} %>
          <% if @mode == 'search' %>
              <p class="no_thanks text-center">
                    <a  data-href="exchanges/list">No thanks, I'll keep searching</a>
              </p>
              <% end %>
        </div>
    </div>
  </div>



</div>