<%= simple_form_for @rate, :html => { :class => 'form-horizontal' }, url: admin_exchange_rates_path(params[:exchange_id]) do |f| %>
	 
	<%= f.error_notification %>

  	<div class="form-inputs">
	  	<%= f.input :buy_currency %>
	  	<%= f.input :pay_cents %>
	  	<%= f.input :pay_currency %>
	  	<%= f.input :source %>
  	</div>

  	<div class="form-actions">
    	<%= f.button :submit, :class => 'btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                admin_exchange_rates_path(params[:exchange_id]), :class => 'btn' %>
	  </div>

<% end %>
