<div class="offer">

  <div class="offer_line">
    <div class="text">
      <%= t 'deal.get'  %>
    </div>
    <div class="figure">
      <div data-model="search" data-field="buy_amount"  data-autonumeric="true"  data-symbolsource="buy_currency" class="amount threedots"></div>
    </div>
    <div class="edit icon right_icon" data-href-pane="update" data-href-id="curr">
      <i class="material-icons">mode_edit</i>
    </div>
  </div>

  <div class="offer_line">
    <div class="text">
      <%= t 'deal.pay'  %>
    </div>
    <div class="figure">
      <div data-model="search" data-field="pay_amount" data-autonumeric="true"  data-symbolsource="pay_currency" class="amount threedots"></div>
    </div>
    <div class="edit icon right_icon" data-href-pane="update" data-href-id="curr">
      <i class="material-icons">mode_edit</i>
    </div>
  </div>

  <div class="offer_line deliver charge">
    <div class="text">
      <%= t 'deal.delivery'  %>
    </div>
    <div class="figure">
      <div data-model="search" data-field="delivery_charge" data-autonumeric="true"  data-symbolsource="pay_currency" class="amount threedots"></div>
    </div>
    <div class="edit icon right_icon" data-href-pane="update" data-href-id="curr">
      <i class="material-icons">mode_edit</i>
    </div>
    <!--
            <div class="help icon right_icon">
              <i class="material-icons"
                 data-href-page="exchanges"
                 data-href-pane="help"
                 data-help-topic="What's that?"
                 data-help-content="<p>That is the charge for delivering the money to your hands (often smaller that what you save with Cambiu!).</p><p>This charge is added to the PAY amount above.</p>">
                help_outline
              </i>
            </div>
    -->
  </div>

  <div class="offer_line cc charge">
    <div class="text">
      <%= t 'deal.credit'  %>
    </div>
    <div class="figure">
      <div data-model="search" data-field="credit_charge" data-autonumeric="true"  data-symbolsource="pay_currency" class="amount threedots"></div>
    </div>
    <div class="edit icon right_icon" data-href-pane="update" data-href-id="curr">
      <i class="material-icons">mode_edit</i>
    </div>
    <!--
            <div class="help icon right_icon">
              <i class="material-icons"
                 data-href-page="exchanges"
                 data-href-pane="help"
                 data-help-topic="What's that?"
                 data-help-content="<p>That is the charge for paying with a credit card.</p><p>This charge is added to the PAY amount above.</p>">
                help_outline
              </i>
            </div>
    -->
  </div>

  <div class="offer_line total">
    <div class="text">
      <%= t 'deal.total'  %>
    </div>
    <div class="figure">
      <div data-model="search" data-field="total_amount" data-autonumeric="true"  data-symbolsource="pay_currency" class="amount threedots"></div>
    </div>
  </div>

  <div class="offer_line saving">
    <div class="text">
      <div class="yourGain"><%= t 'isearch.bar.gain' %></div>
    </div>
    <div class="figure">
      <div class="bestOffer_save amount" id="worst_saving" data-model="local" data-field="worst_saving" data-autonumeric="true" data-symbolsource="pay_currency">99.99</div>
    </div>
    <div class="help icon right_icon">
      <i class="material-icons"
         data-href-page="exchanges"
         data-href-pane="help"
         data-help-topic="Compared with what?"
         data-help-content="<p>That is how much more you get versus actual offer in the vicinity.</p><p>That's your gain from using Cambiu.</p>">
        help_outline
      </i>
    </div>
  </div>
</div>
