<div id="exchange_deal" class="pane transition flop" data-pane="deal" data-model="exchange" data-id='' style="display: none">

  <div class="row">
    <div class="voucher_heading clearfix">
      <div class="col-xs-12 col-md-12">
 <!--       <div class="deal_title">
          <span>Lock this rate</span>
         </div>
-->        <div class="voucher_validity" style="display: none">
          <span><%= fa_icon "clock-o", text: "  Valid until", left: true %></span>
          <span class="voucher_expiry" data-model="order" data-field="expiry_s"></span>
        </div>
      </div>
      <!--       <div class="col-xs-1 col-md-1">
          <div data-clicked="printer" class="printer_icon">
            <%= fa_icon "print" %>
          </div>
        </div>
-->      </div>
  </div>

  <div class="exchange_order">
    <div class="row">
      <div class="col-md-12 col-xs-12 order_wrapper">
        <div class="order">
          <span data-model="exchange" data-field="pay_rounded"></span>
          <span data-model="exchange" data-field="pay_currency"></span>
          <span class="exchange_icon"><%= fa_icon "caret-right" %></span>
          <span data-model="exchange" data-field="get_rounded"></span>
          <span data-model="exchange" data-field="buy_currency"></span>
        </div>
        <div class="subject_to_change"></div>
      </div>
    </div>
  </div>

  <div class="exchange_banner text-center">
    <div class="row">
      <div class="col-md-12 col-xs-12">
 <!--       <div class="pickup_title text-center strike">
          <span>Pickup at</span>
        </div>
 -->       <div class="es_name" data-model="exchange" data-field="name"></div>
        <div class="es_address" data-model="exchange" data-field="address"></div>
        <div class="es_opening_hours" data-model="exchange" data-field="open_today"></div>
      </div>
    </div>
  </div>

   <div class="exchange_bullets">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="bullets_title">
          lock this rate!
        </div>
        <div>
          <span>Leave email and get price guarantee voucher</span>
        </div>
        <div>
          <span>We promise not to send you any spam</span>
        </div>
        <div>
          <span>and we will never share your details!</span>
        </div>
      </div>
    </div>
  </div>

  <div class="confirmation_form">
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag '100_free.png', class: 'free' %>
        <%= render partial: 'order_form', locals: {email: 'required'} %>
      </div>
    </div>
  </div>

  <div class="exchange_identification">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="identification middle-parent clearfix">
          <div class="identification_icon desktop_only middle-parent col-md-2 col-xs-2">
            <%= image_tag 'id_icon.png', class: 'middle-child' %>
          </div>
          <div class="identification_note col-md-10 col-xs-12">
            Proof of identification may be required for card payments and high value transactions.
          </div>
        </div>
      </div>
    </div>
  </div>


</div>