<form id="search_form" action="/exchanges/search" class="form-inline" novalidate>
	<div class="mobile_only middle_wrapper help_text col-xs-12">
		<div class="middle">
			Exchange
		</div>
	</div>
	<div class="form-group col-md-2 col-xs-6">
		<input type="text" pattern="\d*" id="pay_amount" data-autonumeric="true" name="pay_amount" class="form-control" placeholder="placeholder"
		 data-analyze="change" data-activity="Search" data-key1="searched" data-val1="amount" data-key2="type" data-val2="local" data-key3="amount">
  	</div>
  	<div class="form-group col-md-1 col-xs-6">
		<select id="pay_currency" name="pay_currency" class="currency_select select optional text-center form-control"
		 data-analyze="change" data-activity="Search" data-key1="searched" data-val1="currency" data-key2="type" data-val2="local" data-key3="currency">
			<option data-symbol="￡ " value="GBP" selected="selected">GBP</option>
			<option data-symbol="€ " value="EUR">EUR</option>
			<option data-symbol="$ " value="USD">USD</option>
			<option data-symbol="$ " value="AUD">AUD</option>
			<option data-symbol="$ " value="CAD">CAD</option>
			<option data-symbol="￥ " value="JPY">JPY</option>
		</select>
	</div>
	<div class="mobile_only middle_wrapper help_text col-md-1 col-xs-12">
		<div class="middle">
			to
		</div>
	</div>
  	<div class="form-group col-md-1 col-xs-12">
		<select id="buy_currency" name="buy_currency" class="select optional text-center form-control"
		 data-analyze="change" data-activity="Search" data-key1="searched" data-val1="currency" data-key2="type" data-val2="foreign" data-key3="currency">
			<option value="USD" selected="selected">USD</option>
			<option value="EUR">EUR</option>
			<option value="GBP">GBP</option>
			<option value="AUD">AUD</option>
			<option value="CAD">CAD</option>
			<option value="JPY">JPY</option>
		</select>
  	</div>
	<div class="mobile_only middle_wrapper help_text col-xs-12">
		<div class="middle">
			in
		</div>
	</div>
	<div class="form-group col-md-3 col-md-push-2 col-xs-12">
		<input type="text" id="location_search" name="location_search" class="location search form-control" placeholder="Current location" 
		 data-analyze="change" data-activity="Search" data-key1="searched" data-val1="location" data-key2="type" data-val2="search" data-key3="location">
		<div id="location_search_icon" class="icon middle_wrapper">
			<i class="middle fa fa-map-marker"></i>
		</div>
  	</div>
  	<!-- Bootstrap original radio in button
  	<div class="form-group col-md-4 col-md-offset-4 col-xs-12">
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-primary active">
		    <input type="checkbox" autocomplete="off" checked> Best price
		  </label>
		  <label class="btn btn-success">
		    <input type="checkbox" autocomplete="off"> Nearest
		  </label>
		</div>
	-->
	<div class="mobile_only middle_wrapper help_text  col-xs-12">
		<div class="middle">
			Order by
		</div>
	</div>
	<div class="form-group col-md-2 col-md-pull-3 col-xs-12">
		<input id="sort_switch" class="make-switch" type="checkbox" data-on-text="Best price" data-on-color="default" data-off-text="Nearest" data-off-color="default">
	</div>

  	<div class="hidden" style="display:none">
  		<input type="hidden" name="latitude" class="location" id="latitude">
  		<input type="hidden" name="longitude" class="location" id="longitude">
  		<input type="hidden" name="geocoded_location" id="geocoded_location">
  		<input type="hidden" name="distance">
  		<input type="hidden" name="sort" id="sort">
  		<input type="hidden" name="searched_location" id="searched_location">
  		<input type="hidden" name="landing" value="<%= @landing %>">
	</div>

  	<div id="search_div" class="form-group col-md-2 col-xs-12" class="form-group">
		<button id="search_button" class="form-control btn btn-cambiu" type="submit">Find offers</button>
	</div>	
</form>
<script>
$(document).ready(function(){
		
    // Initial population of parameters in the form. Only exchanges/create has values in params to populate
    <% if params.count > 2 %>
    
		$('#exchange_params_display span').html("");
        $('#pay_currency').val('<%= params[:pay_currency] %>');
        $('#pay_amount').val('<%= params[:pay_amount] %>');
        bind_currency_to_autonumeric();
        $('#buy_currency').val('<%= params[:buy_currency] %>');
        $('#latitude').val('<%= params[:latitude] %>');
        $('#longitude').val('<%= params[:longitude] %>');
        $('#geocoded_location').val('<%= params[:geocoded_location] %>');
        $('#distance').val('<%= params[:distance] %>');
        $('#location_search').val('<%= params[:location_search] %>');
		$('#sort_switch').bootstrapSwitch('state', <%= params[:sort] == 'quote' %>, false);
       	$('#sort').val('<%= params[:sort] %>');
       	$('#searched_location').val('<%= params[:location_search] || params[:geocoded_location] || 'this area' %>');
       	console.log('I am in the exchange controller building _exchange_params_form and params geocoded_location is now: ' + '<%= params[:geocoded_location] %>')
   
    <% end %>
    
    
    // Global, session variables
    var map;
    var center;
    var geocoder;
    var markers = [];
    var exchanges = [];
    var exchanges_array = [];
    var exchanges_by_quote = [];
    var exchanges_by_distance = []; 


$(document).ready(function() {

    // params (copied from 1st page by _exchange_params_form)  // TODO: one form, one page
    var params = {
        pay_amount:         $('#pay_amount_val').val(),
        edited_pay_amount:  $('#pay_amount').val().replace(/\s+/g, ''),
        pay_currency:       $('#pay_currency').val(),
        buy_currency:       $('#buy_currency').val(),
        latitude:           $('#latitude').val(),
        longitude:          $('#longitude').val(),
        geocoded_location:  $('#geocoded_location').val(),
        location_search:    $('#location_search').val(),
        searched_location:  $('#location_search').val() || $('#geocoded_location').val() || 'this area',
        distance:           $('#distance').val(),
        sort:               $('#sort_switch').bootstrapSwitch('state') ? 'quote' : 'distance',
        landing:            $('#landing').val()
    };
    
 
    // new page
    google.maps.event.addDomListener(window, 'load', initialize);        


 
   // new ajax search
    $('#search_form').ajaxForm({ 
            dataType:   'json', 
        beforeSubmit:   beforeSubmit,
             success:   updatePage 
    });
    
    function beforeSubmit() {
        $('#empty_message').css('display', 'none');
        $('#result_message').css('display', 'none');
        $('#loader_message').css('display', 'block');
    } 

    function updatePage(exchanges) {
 
        if (exchanges && exchanges.length > 0) {

            updateExchanges(exchanges);
            bindBehavior();
            updateMarkers(exchanges);
            exchanges_array = exchanges;           
        }
        updateResults(exchanges);
        updateParamsDisplay();
    }   
    

    // On page load only
    function initialize() {
        
        draw_map(params.location_search, params.latitude, params.longitude);
    
        $('#search_form').submit();     
    }
          


    // on search (triggered by formSubmit, whether programmatically at load time or by user)
    //
    // exchanges dynamic markup
 
    function updateExchanges(exchanges) {
        clearExchanges();
        for (var i = 0; i < exchanges.length; i++) {
            addExchange(exchanges[i], i);
        }
        
        $('.list-group-item').click(function() {
            $(this).next().toggleClass('in');
        });    
    }
    

    function addExchange(exchange, index) {
    
        var exchange_el =   $('.exchange_row.template').clone().removeClass('template');
        var exchange_sum =  exchange_el.find('.list-group-item');
        var exchange_det =  exchange_el.find('.collapse');
        var id = '#exchange_det_' + exchange.id;
    
        exchange_sum.attr('href', id);
        exchange_det.attr('id', id);
        exchange_sum.attr('data-id', exchange.id);
        exchange_det.attr('data-id', exchange.id);
        
        exchange_el.find('.distance').html(String(exchange.distance.toFixed(2)));
        exchange_el.find('.name').html(exchange.name);
        exchange_el.find('.quote').html(exchange.edited_quote);
        if (exchange.quote > 0) {
            exchange_el.find('.comparison').css('display', 'block');
            exchange_el.find('.comparison-amount').html('€9.99');
        }
        
        
        exchange_sum.appendTo('#exchanges_list .list-group #exchanges_items');
        exchange_det.appendTo('#exchanges_list .list-group #exchanges_items');        
    }
    
    
   function add_photo(exchange) {
        var request = {query: exchange.name + ' ' + exchange.address};
        
        var service = new google.maps.places.PlacesService(map);
        service.textSearch(request, gp_ts_callback);
        
        function gp_ts_callback(results, status) {
            console.log('gp_ts_callback');
            if (status == google.maps.places.PlacesServiceStatus.OK && results.length > 0) {
                          
                var place = results[0];
                var place_id = place.place_id;
                console.log("place_id: " + place_id);
                  
                var request = {placeId: place_id};
    //              service.getDetails(request, gp_pd_callback);
                  
                function gp_pd_callback(place, status) {
                    console.log('gp_pd_callback');
                    if (status == google.maps.places.PlacesServiceStatus.OK) {
                        if (place.photos.length > 0) {
                            photo_url = place.photos[0].getUrl();
                            console.log("photo_url: " + photo_url);
                            
                        }
                    }           
                }
            }
        }
    }
 
    
    function clearExchanges() {
        $('#exchanges_list #exchanges_items').empty();
    }
    

    function bindBehavior() {
                
    // collapse
    //      $('.collapse').collapse()       
    
 
    // user save, email form submit - can happen only once in a session
        $('.email_submit').click(function() {
            $('#user_pay_amount').val(params.pay_amount);
            $('#user_pay_currency').val(params.pay_currency);
            $('#user_buy_currency').val(params.buy_currency);
            $('#user_latitude').val(params.latitude);
            $('#user_longitude').val(params.longitude);
            $('#user_location_search').val(params.location_search);
            $('#user_geocoded_location').val(params.geocoded_location);
            $('#new_user').submit();
            $('.email_request').css('display', 'none');
            $('.exchange_details').css('display', 'block');
        });

    }
    

    function updateResults(exchanges) {
        $('#loader_message').css('display', 'none');
         if (exchanges && exchanges.length) {
            $('#empty_message').css('display', 'none');
            $('#result_message').css('display', 'block');
            $('#exchanges_count').html(exchanges.length);
            $('#sort_order').html(display(params.sort));            
        } else {
            $('#result_message').css('display', 'none');
            $('#empty_message').css('display', 'block');
            $('#empty_location').html(params.searched_location);
        }
    }
    

    function updateParamsDisplay() {
        $('#pay_amount_display').html(params.edited_pay_amount);
        $('#buy_currency_display').html('to ' + params.buy_currency);
        $('#searched_location_display').html('in ' + params.searched_location);
    }
    

 
 
    // Map markers & infowindows
    //
    function updateMarkers(exchanges) {
        
        if (mobile) {return;}
        
        clearMarkers();
        for (var i = 0; i < Math.min(exchanges.length, 30); i++) {
            addMarker(exchanges[i]);
        }
    }
    
    function addMarker(exchange) {
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(exchange.latitude, exchange.longitude),
            disableAutoPan: true,
            title: exchange.name,
            map: map,
            icon: '/icon.png',
    //          animation: google.maps.Animation.DROP,
    //        zIndex: exchange.id // holds the exchange id 
        });
        
        var infowindow;
        var exchange_window_el;
        
        if (exchange.edited_quote) {
            exchange_window_el =   $('.exchange_window.template').clone().removeClass('template');
            exchange_window_el.find('.exchange_window_quote').html(exchange.edited_quote);
            exchange_window_el.find('.exchange_window_name').html(exchange.name);
            exchange_window_el.find('.exchange_window_address').html(exchange.address);
            exchange_window_el.find('.exchange_window_open').html(exchange.todays_hours);
            exchange_window_el.attr('id', 'exchange_window_' + exchange.id);
            
            infowindow = new google.maps.InfoWindow({
                content: exchange_window_el.html() 
            });
            infowindow.open(map,marker);
        }
        
        markers.push(marker);
        
        // when any infoWindow is clicked, make the respective row active
        var id = "#exchange_det_" + String(exchange.id);    
        google.maps.event.addListener(marker, 'click', function() {
           $('.list-group-item[href="0"]'.replace("0", id)).toggleClass('active');
        });
    
   
        // when any row is clicked, pan to respective infoWindow and show details
        if (exchange_window_el) {
            google.maps.event.addDomListener(document.querySelector('.list-group-item[href="0"]'.replace("0", id)), 'click', function() {
     
                $('.exchange_window_det').css('display', 'none');
                $('.exchange_window_sum').css('display', 'block');
                exchange_window_el.find('.exchange_window_sum').css('display', 'none');
                exchange_window_el.find('.exchange_window_det').css('display', 'block');
                exchange_window_el.find('.exchange_window_det').addClass('in');
                infowindow.setContent(exchange_window_el.html());
                infowindow.setZIndex(2000);
    //            $('.exchange_window_det.in').parent().parent().parent().parent().children().css('background', "yellow");
                
                map.panTo(new google.maps.LatLng(exchange.latitude, exchange.longitude));
     
             });            
        }    

    }
    
    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }
    


    // Events & impacts
    //
    
    // Update sort param and client-sort when changed   
    $('#sort_switch').on('switchChange.bootstrapSwitch', function(event, state) {
        val = state ? 'quote' : 'distance';
        $('#sort').val(val);
        $('#sort_order').html(display(val));
        params.sort = val;
        sort_by(val);
    });
    
    function sort_by(order) {
       if (order == 'distance') {
         exchanges_array = 
         exchanges_by_distance.length > 0 ? exchanges_by_distance : exchanges_array.sort(function(a, b){return a.distance-b.distance;});  
        }
        else if (order == 'quote') {
         exchanges_array = 
         exchanges_by_quote.length > 0 ? exchanges_by_quote : exchanges_array.sort(function(a, b){return (a.quote ? a.quote : 10000000)-(b.quote ? b.quote : 10000000);});            
        }
        updateExchanges(exchanges_array); // TODO: replace with updatePage. TODO: store the div's as well and replace as needed.
    }    

 
    // pay_amount change
    $('#pay_amount').change(function() {
        $('#pay_amount_display').html($(this).val());
        params.edited_pay_amount = $(this).val;
        params.pay_amount = $('#pay_amount_val').val();
    });
 
    // pay_currency change
    $('#pay_currency').change(function() {
        $('#pay_amount_display').html($('#pay_amount').val());
        $('#pay_currency_display').html($(this).val());
        params.pay_currency = $(this).val();
    });
    
    // buy_currency change
    $('#buy_currency').change(function() {
        $('#buy_currency_display').html('to ' + $(this).val());
        params.buy_currency = $*(this).val();
    });
    
/* senseless. TODO: Handle the case where location is reverted to current location only. All the rest covered below.
    // location change
    $('#location_search').change(function() {
        var location_search = $('#location_search').val();
        var latitude = $('#latitude').val();
        var longitude = $('#longitude').val();
        console.log('Location change: location_search: ' + $('#location_search').val())
        console.log('location_search form value is: ' + location_search)
        console.log('Location change: params.geocoded_location: ' + params.geocoded_location)
        console.log('Location change: location_search: ' + location_search)
        var searched_location = location_search || params.geocoded_location || 'this area';
         $('#searched_location').val(searched_location);
         $('#searched_location_display').html(searched_location);
         params.searched_location = searched_location;
    });
*/    
    
    // Enble location search - Google maps places autocomplete
    var input = document.getElementById('location_search');
    var searchBox = new google.maps.places.SearchBox(input, {
        types: ['regions']
    });

    // change map center according to searched location 
    google.maps.event.addListener(searchBox, 'places_changed', function() {
        
        var places = searchBox.getPlaces();
        if (places.length == 0) {return;}        
        place = places[0];       

        name = $('#location_search').val();
        if (name == null) {alert('null')} 
        if (name == "") {alert('spaces')}
        console.log(name)
        $('#searched_location').val(name);
        $('#searched_location_display').html(name);
        params.location_search = name;
        params.searched_location = name;

        if (!place.geometry) {alert('We have an issue with this location. Please try a different one'); return;}
        place = place.geometry.location;
        draw_map(null, place.lat(), place.lng());
        
    });
    
    $('#location_search').change(function() {
    	if ($('#location_search').val == null) {
    		alert('so this is null')
		}
	});
    
    
    function draw_map(place, latitude, longitude) {
         console.log('entry. place: ' + place) 
        console.log('entry. latitude: ' + latitude) 
       console.log('entry. longitude: ' + longitude) 
       
        if (mobile) {return;}
        
        if (place) {
 console.log('if place')           
           geocoder = new google.maps.Geocoder();
           geocoder.geocode( { 'address': place}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
console.log('status is ok')
                center = results[0].geometry.location;
console.log('and center is ' + center)
              } else {
 console.log('status is not ok')
               alert("Geocode was not successful for the following reason: " + status);
              }
            }); 
        } else if (latitude && longitude) {
console.log('if l & l')           
            center = new google.maps.LatLng(latitude, longitude);

        } else {
           geocoder = new google.maps.Geocoder();
           geocoder.geocode( { 'address': 'London, UK'}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                center = results[0].geometry.location;
              } else {
                alert("Geocode was not successful for the following reason: " + status);
              }
            });             
        }
 
 
 console.log('center: ' + center)
       
        var mapOptions = {
            center: center,
            zoom: 12
        };      
        
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);    
    }    


    
});

})
</script>
