<nav class="navbar">

  <% left_id = nil if local_assigns[:left_id].nil? %>
  <% right_id = nil if local_assigns[:right_id].nil? %>

  <% unless local_assigns[:left_pane] && left_pane == 'none' %>
      <div class="navbar_link navbar_left flex_center" data-href-page="exchanges" data-href-pane=<%= local_assigns[:left_pane].nil? ? 'search' : left_pane %> data-href-id=<%= left_id  %>>
             <i class="material-icons"><%= local_assigns[:left_icon].nil? ? 'home'  : left_icon  %></i>
      </div>
  <% else %>
      <div>&nbsp;</div>
  <% end %>


  <div class="navbar_link navbar_center flex_center">
    <% if center == 'search_params' %>
      <%= render 'search_params' %>
    <% else %>
      <%= center %>
    <% end %>
  </div>

  <div class="language_select flex_center column">
    <%= image_tag 'IL.png', class: "flag he" %>
    <%= image_tag 'GB.png', class: "flag en" %>
  </div>

  <div class="navbar_link navbar_right flex_center"
     <% unless right_pane == 'none' %>
          <% if right_pane == 'context_menu' %>
              data-action="context_menu"
            <% else %>
              data-href-page="exchanges"
              data-href-pane=<%= right_pane %>
              data-href-id=<%= right_id %>
            <% end %>
     <% end %>
   >

     <% unless right_pane == 'none' %>
          <i class="material-icons"><%= right_icon %></i>
    <% else %>
        &nbsp;
    <% end %>

  </div>

  <div class="context_menu" >
    <% Array(local_assigns[:context_menu_options]).each do |option| %>
        <button class="btn-flat waves-effect context_menu_option">
          <div class="menu_option" data-href-page="exchanges" data-href-pane="<%= option[:pane] %>" data-href-delay="true">
            <div class="menu_option_icon flex_center"><i class="material-icons col-xs-1"><%= option[:icon] %></i></div>
            <div class="menu_option_name"><%= option[:name] %></div>
          </div>
        </button>
    <% end  %>
  </div>

</nav>