<nav class="navbar flex_parent">

  <% left_id = nil if local_assigns[:left_id].nil? %>
  <% right_id = nil if local_assigns[:right_id].nil? %>
  <div class="navbar_link navbar_left col-xs-2" data-href-page="exchanges" data-href-pane=<%= left_pane %> data-href-id=<%= left_id  %>>
    <% unless left_pane == 'none' %>
      <i class="navbar_icon fa fa-<%= left_icon %>"></i>
    <% end %>

  </div>

  <div class="navbar_link navbar_center middle col-xs-8">
    <% if center == 'search_params' %>
      <%= render 'search_params' %>
    <% else %>
      <%= center %>
    <% end %>
  </div>

  <div class="navbar_link navbar_right col-xs-2"

    data-href-page="exchanges"
    data-href-pane=<%= right_pane %>
    data-href-id=<%= right_id %>>
    <% unless right_pane == 'none' %>
        <i class="navbar_icon fa fa-<%= right_icon %>"></i>
    <% end %>

  </div>

</nav>