<nav  class="navbar navbar-inverse navbar-fixed-top <%= params[:controller]%>" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cambiu_menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="page-title navbar-brand text-center" id="comp_name" href="#">cambiu</a>
    </div>
    
	<a data-toggle="collapse" href="#exchange_params_change" id="exchange_title">
		<div id="exchange_params">
			<div id="exchange_params_display">
				<%= render 'exchange_params_display' %>
			</div>
		</div>
	</a>
	<div class="collapse" id="exchange_params_change">
		<div class="well clearfix">
			<div class="col-md-10 col-md-offset-1 col-xs-12">
				<%= render 'exchange_params_form' %>
			</div>
		</div>
	</div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="cambiu_menu">
      	<ul class="nav navbar-nav">
   	 	</ul>
	     <ul class="nav navbar-nav navbar-right">
			<li><a href="#" data-link="About us">About us</a></li>
			<li><a href="#" data-link="Blog">Blog</a></li>
			<li><a href="#" data-link="Add exchange">Add Exchange</a></li>
			<li><a href="#" data-link="Contact">Contact</a></li>
			<!--
			<li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
			<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
			-->
	     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>