<%= simple_form_for Order.new, validate: false, remote: true, html: {data: {type: :json } } do |f| %>


    <div class="hidden_fields">
      <%= f.input_field :exchange_id, 	    as: :hidden, data: {field: 'exchange_id'} %>
      <%= f.input_field :email, 		    as: :hidden, data: {field: 'email'} %>
      <%= f.input_field :pay, 	            as: :hidden, data: {field: 'pay_amount'} %>
      <%= f.input_field :pay_currency, 	    as: :hidden, data: {field: 'pay_currency'} %>
      <%= f.input_field :buy, 	            as: :hidden, data: {field: 'buy_amount'} %>
      <%= f.input_field :buy_currency, 	    as: :hidden, data: {field: 'buy_currency'} %>
      <%= f.input_field :status, 	        as: :hidden, data: {field: 'status'}, value: status %>
    </div>

    <% if status == 'produced' %>
        <%= f.button :submit, 'Get it',
             data: {href: '/exchanges/summary', href_page: '/exchanges', href_id: '', href_pane: 'summary', exchange_selection: 'true', exchangeid: '', voucher: 'true', voucher_status: status, exchange_name: "filler"},
             id: 'getit_button', class: 'btn btn-mini btn-default' %>
    <% elsif status == 'used' %>
        <%= f.button :submit, 'Got the money, thank you!',
             data: {

                     href: '/exchanges/list',  href_page: '/exchanges', href_id: '', href_pane: 'list', reload: 'true',

                     voucher: 'true', voucher_status: status, exchange_name: "filler"},
             class: 'btn confirmation_button' %>
    <% end %>


<% end %>