<%= simple_form_for Order.new, url: orders_path, validate: false, remote: true, html: {data: {type: :json} } do |f| %>


    <% if status == 'produced' %>
        <%= f.input_field :email, data: {model: 'order', field: 'email', clicked: 'clicking email'}, placeholder: "  Enter email to guarantee deal", label: false, type: "email" %>
        <%= f.input_field :phone, class: 'phoneUK', data: {field: 'phone', clicked: 'clicking phone'}, placeholder: "  Leave phone to coordinate delivery", label: false %>
        <div class="validation_errors"></div>
    <% else %>
        <%= f.input_field :email, 		    as: :hidden, data: {model: 'order', field: 'email'} %>
    <% end %>

    <div class="hidden_fields">
      <%= f.input_field :id, 	            as: :hidden, data: {model: 'order', field: 'order_id'} %>
      <%= f.input_field :exchange_id, 	    as: :hidden, data: {field: 'exchange_id'} %>
      <%= f.input_field :pay, 	            as: :hidden, data: {model: 'exchange', field: 'pay_amount'} %>
      <%= f.input_field :pay_currency, 	    as: :hidden, data: {model: 'exchange', field: 'pay_currency'} %>
      <%= f.input_field :buy, 	            as: :hidden, data: {model: 'exchange', field: 'buy_amount'} %>
      <%= f.input_field :buy_currency, 	    as: :hidden, data: {model: 'exchange', field: 'buy_currency'} %>
      <%= f.input_field :get, 	            as: :hidden, data: {model: 'exchange', field: 'get_amount'} %>
      <%= f.input_field :get_currency, 	    as: :hidden, data: {model: 'exchange', field: 'get_currency'} %>
      <%= f.input_field :status, 	        as: :hidden, data: {field: 'status'}, value: status %>
      <%= f.input_field :service_type, 	    as: :hidden, data: {field: 'service_type'} %>
    </div>

    <% if status == 'offer' %>
        <%= f.button :submit, 'Get it',
             data: {model: 'exchange', href: 'exchanges/summary', href_page: 'exchanges', href_id: '', href_pane: 'summary', exchange_selection: 'true', exchangeid: '', voucher: 'true', voucher_status: status, exchange_name: "filler"},
             id: 'getit_button', class: 'btn btn-mini btn-default' %>
    <% elsif status == 'produced' %>
            <%= f.button :submit, 'Guarantee this deal!',
             data: {model: 'exchange', href: 'exchanges/voucher', href_page: 'exchanges', href_id: '', href_pane: 'voucher', model: 'exchange', current_exchange: 'true', exchangeid: '', event: 'Leaving email'}, class: "middle-child email_submit btn btn-mini btn-warning rounded #{@mode}" %>
    <% elsif status == 'used' %>
        <%= f.button :submit, 'Got the money, thank you!',
             data: {

=begin
                     model: 'exchange', href: 'exchanges/list',  href_page: 'exchanges', href_id: '', href_pane: 'list', reload: 'true',
=end

                     voucher: 'true', voucher_status: status, exchange_name: "filler"},
             class: 'btn btn-warning confirmation_button #{@mode}' %>
    <% end %>


<% end %>