<%= simple_form_for(Search.new, remote: true, defaults: {input_html: {class: 'form-control'}, label: false}, html: {data: {type: :json }, novalidate: true}) do |f| %>

    <div class="validation_errors"></div>

	<div class="row">
		<div class="form-group col-md-8 col-xs-7">
			<%= f.input :pay_amount, label: "I have", input_html: {data: {autonumeric: true, symbolsource: 'search_pay_currency', field: 'pay_amount'}, pattern: "\d*", value: params[:pay_amount]}%>
		</div>
		<div class="form-group col-md-4 col-xs-5">
			<%= f.input :pay_currency, collection: Currency.major_with_symbol, input_html: {class: 'currency_select form-control', data: {field: 'pay_currency', header: 'My currency', style: 'btn-danger', symboltarget: 'pay_amount'}}, selected: params[:pay_currency] || "GBP",  include_blank: false %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-8 col-xs-7">
			<%= f.input :buy_amount, label: 'I need', input_html: {data: {autonumeric: true, symbolsource: 'search_buy_currency', field:'buy_amount'}, pattern: "\d*", value: params[:buy_amount]} %>
		</div>
		<div class="form-group col-md-4 col-xs-5">
			<%= f.input :buy_currency, collection: Currency.major_with_symbol, input_html: {class: 'currency_select form-control', data: {header: 'Desired currency', style: 'btn-danger', symboltarget: 'buy_amount', field:'buy_currency'}}, selected: params[:buy_currency] || "USD", include_blank: false %>
		</div>
	</div>
	<div class="row">
		<div class="location_control form-group col-md-12 col-xs-12">
			<%= f.input :location, input_html: {data: {field: 'location', searchbox: 'true'}}, placeholder: '  Finding your location...' %>
            <%= fa_icon "chevron-down" %>
 		</div>
	</div>

	<div class="hidden_fields">
            <%= f.input_field :location_lat, 	as: :hidden, data: {field: 'location_lat'} %>
            <%= f.input_field :location_lng, 	as: :hidden, data: {field: 'location_lng'} %>
            <%= f.input_field :location_type, 	as: :hidden, data: {field: 'location_type'} %>
            <%= f.input_field :location_short, 	as: :hidden, data: {field: 'location_short'} %>
			<%= f.input_field :user_lat, 		as: :hidden, data: {field: 'user_lat'} %>
			<%= f.input_field :user_lng, 		as: :hidden, data: {field: 'user_lng'} %>
			<%= f.input_field :user_location, 	as: :hidden, data: {field: 'user_location'} %>
			<%= f.input_field :distance, 		as: :hidden, data: {field: 'distance'} %>
			<%= f.input_field :distance_unit, 	as: :hidden, data: {field: 'distance_unit'} %>
			<%= f.input_field :sort, 			as: :hidden, data: {field: 'sort'} %>
            <%= f.input_field :page, 			as: :hidden, data: {field: 'page'} %>
            <%= f.input_field :hash, 			as: :hidden, data: {field: 'rest'} %>
            <%= f.input_field :exchange_id, 	as: :hidden, data: {model: 'exchange', field: 'exchange_id'}, value: params[:id] %>
            <%= f.input_field :service_type, 	as: :hidden, data: {field: 'service_type'} %>
            <%= f.input_field :mode, 	        as: :hidden, value: @mode %>
	</div>


	<div class="row">
		<div class="homepage_search_button form-group col-md-12 col-xs-12">
			<%= image_tag 'logo_no_text.png' %>
			<%= f.button :submit, "Get the best rate", data: {href: 'exchanges/list'} %>
		</div>
	</div>


<!--
	<div class="after_submit">
		<p>We give users more than 94.6% profit for their money! </p>
	</div>
-->


<% end %>