<div id="exchange_voucher" class="pane" data-pane="voucher" data-model="exchange" data-id='' style="display: none">

  <div class="row">
      <div class="voucher_heading clearfix">
        <div class="col-xs-10 col-md-10">
          <div class="voucher_title">
            <span data-model="order" data-field="service_type"></span>
            <span>Voucher</span>
            <span data-model="order" data-field="id" style="display: none"></span>
            <span class="voucher_number" data-model="order" data-field="voucher"></span>
          </div>
          <div class="voucher_validity">
            <span><%= fa_icon "clock-o", text: "  Valid until", left: true %></span>
            <span class="voucher_expiry" data-model="order" data-field="expiry_s"></span>
          </div>
        </div>
        <div class="col-xs-1 col-md-1">
          <div data-clicked="printer" class="printer_icon">
            <%= fa_icon "print" %>
          </div>
        </div>
      </div>
   </div>

  <div class="exchange_voucher_banner">
    <div class="row">
       <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <div class="es_name" data-model="exchange" data-field="name"></div>
          <div class="es_address" data-model="exchange" data-field="address"></div>
          <div class="es_opening_hours" data-model="exchange" data-field="open_today"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_voucher_directions">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <a href="#" class="directions" data-model="exchange" data-data data-lat="filler" data-lng="filler" data-clicked="directions">
            <%= fa_icon "map-marker", text: "  Get directions", left: true %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_voucher_order">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <div class="order">
            <span data-model="exchange" data-field="pay_rounded"></span>
            <span data-model="exchange" data-field="pay_currency"></span>
            <span class="exchange_icon"><%= fa_icon "caret-right" %></span>
            <span data-model="exchange" data-field="get_rounded"></span>
            <span data-model="exchange" data-field="buy_currency"></span>
          </div>
          <div class="subject_to_change"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_voucher_identification">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <div class="identification middle-parent clearfix">
            <div class="identification_icon desktop_only middle-parent col-md-2 col-xs-2">
              <%= image_tag 'id_icon.png', class: 'middle-child' %>
            </div>
            <div class="identification_note col-md-10 col-xs-12">
              <strong>Please note: </strong> Proof of identification may be required for card payments and high value transactions.
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>

<!--
  <div class="confirmation_form">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'order_form', locals: {status: 'used'} %>
      </div>
    </div>
  </div>
-->



</div>