<div id="exchange_voucher" class="page" style="display: none">

  <div class="row exchange_voucher_bg">
    <div class="col-md-12 col-xs-12">
      <%= image_tag 'voucher_bg.png' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11 col-xs-11">
      <div class="voucher_heading clearfix">
        <div class="col-xs-10 col-md-10">
          <div class="voucher_title">
            <span>Voucher</span>
            <span class="voucher_number" data-model="order" data-field="order_id"></span>
          </div>
          <div class="voucher_validity">
            <span><%= fa_icon "clock-o", text: "  Valid until", left: true %></span>
            <span class="voucher_expiry" data-model="order" data-field="order_expiry"></span>
          </div>
        </div>
        <div class="col-xs-2 col-md-2">
          <div class="printer_icon">
            <%= fa_icon "print" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_voucher_banner">
    <div class="row">
       <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <div class="es_name" data-model="exchange" data-field="name"></div>
          <div class="es_address" data-model="exchange" data-field="address"></div>
          <div class="es_opening_hours" data-model="exchange" data-field="open_today"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_voucher_directions">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <div class="directions"><%= fa_icon "map-marker", text: "  Get directions", left: true %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_voucher_order">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <div class="order">
            <span data-model="exchange" data-field="pay_amount"></span>
            <span data-model="exchange" data-field="pay_currency"></span>
            <span class="exchange_icon"><%= fa_icon "caret-right" %></span>
            <span data-model="exchange" data-field="buy_amount"></span>
            <span data-model="exchange" data-field="buy_currency"></span>
          </div>
          <div class="subject_to_change">This rate is subject to change and is regularly updated by our staff.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_voucher_identification">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <div class="identification middle-parent clearfix">
            <div class="identification_icon desktop_only middle-parent col-md-2 col-xs-2">
              <%= image_tag 'id_icon.png', class: 'middle-child' %>
            </div>
            <div class="identification_note col-md-10 col-xs-12">
              <strong>Please note: </strong> Proof of identification may be required for card payments and high value transactions.
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>

  <div class="confirmation_form">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'order_form', locals: {status: 'used'} %>
      </div>
    </div>
  </div>



</div>