<!DOCTYPE html>
<html lang="en">

<head>

    <%= render "inspectlet" %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>    <meta charset="utf-8">
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title><%= @mode == 'search' ? 'cambiu' : "currency-net" %></title>
    <%= favicon_link_tag 'apple-touch-icon-152x152.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag @mode == 'search' ? 'logo_no_text.png' : 'cn_favicon.ico' %>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>

</head>

<body id="cambiu" class="<%= "#{params[:controller]} #{Rails.env} #{@mode}" %>">

	<%= render 'google_tag_manager' %>
	<%= render 'navbar' %>
	<%= bootstrap_flash %>

	<%= yield %>

    <%= render 'google_maps' %>

    <div id="freeow" class="freeow freeow-top-right"></div>
</body>

</html>
