<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "Cambiu" %></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag "boots", :media => "all" %>

 	<% unless params[:controller] == "landing" %>
    	<%= javascript_include_tag "boots", defer: true %>
	<% end %>

</head>
  	
<body id="cambiu" class="<%= "#{params[:controller]} #{Rails.env}" %>">

	<%= render 'google_tag_manager' %>
	<%= render 'navbar' %>	
	<%= bootstrap_flash %>	  

	<%= yield %>

	<% if params[:controller] == "landing" %>
    	<%= javascript_include_tag "landing" %>
	<% else %>
		<%= render 'facebook' %>
	   	<%= render 'google_maps' %>
	<% end %>

</body>

</html>