<!DOCTYPE html>
<html lang="en">

<head>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "cambiu" %></title>
    <%= favicon_link_tag 'logo_no_text.png' %>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag "application", :media => "all" %>

	<%= javascript_include_tag "application" %>

</head>
  	
<body id="cambiu" class="<%= "#{params[:controller]} #{Rails.env}" %>">

	<%= render 'google_tag_manager' %>
	<%= render 'navbar' %>	
	<%= bootstrap_flash %>	  

	<%= yield %>

   	<%= render 'google_maps' %>

</body>

</html>