<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>cambiu</title>

  <!-- w3c/google's installable app -->
  <link rel="manifest" href="/manifest.json">

  <!-- ios' installable app -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#FF4081">

  <link rel="apple-touch-startup-image" href="<%= asset_path 'cambiu_vertical.png' %>">

  <%= favicon_link_tag 'apple-touch-icon.jpg', rel: 'apple-touch-icon', type: 'image/png' %>

  <%= favicon_link_tag '32px_white.png' %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet" type="text/css" >
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= csrf_meta_tags %>

  <!-- Though I include BMD's css thru CDN here, I have to include his separate .css file thru asset pipeline too, or else the slider doesnt get materialized  -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">

  <%= stylesheet_link_tag "application", :media => "all"  %>
</head>

<body id="cambiu" class="<%= "#{params[:controller]} #{Rails.env}" %>">


	<%= yield %>

  <%= render 'google_maps' %>
  <%= render 'google_analytics' %>
  <%= javascript_include_tag "application", async: false  %>
  <%= render 'bootstrap_material_design' %>

</body>

</html>
