<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>cambiu</title>

  <!-- w3c/google's installable app -->
  <link rel="manifest" href="/manifest.json">

  <!-- ios' installable app -->
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= favicon_link_tag 'apple-touch-icon.jpg', rel: 'apple-touch-icon', type: 'image/png' %>

  <%= favicon_link_tag 'logo_no_text.png' %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>    <meta charset="utf-8">

  <%= csrf_meta_tags %>

	<%= stylesheet_link_tag "application", :media => "all"  %>
	<%= javascript_include_tag "application", async: Rails.env.production?  %>

</head>

<body id="cambiu" class="<%= "#{params[:controller]} #{Rails.env} #{@mode}" %>">


	<%= yield %>
  <%= bootstrap_flash %>

  <%= render 'google_tag_manager' %>
  <%= render 'google_maps' %>

</body>

</html>
