<!DOCTYPE html>
<html lang="en">

<head>

    <!-- ruby open render "inspectlet" ruby close -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>    <meta charset="utf-8">
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<title><%= @mode == 'search' ? 'cambiu' : "currency-net" %></title>
  <%= favicon_link_tag 'apple-touch-icon.jpg', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'logo_no_text.png' %>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>

</head>

<body id="cambiu" class="<%= "#{params[:controller]} #{Rails.env} #{@mode}" %>">


	<%= yield %>
  <%= bootstrap_flash %>
  <div id="freeow" class="freeow freeow-top-right"></div>

  <%= render 'google_tag_manager' %>
  <%= render 'google_maps' %>

</body>

</html>
