<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "Cambiu" %></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag "boots", :media => "all", 'data-turbolinks-track' => true %>
	<%= render 'favicons' %>
	<%= render 'fonts' %>	

    <%= javascript_include_tag "boots", 'data-turbolinks-track' => true %>
	<%= render 'google_maps' %>
	<%= render 'google_analytics' %>
	<%= render 'mixpanel' %>

</head>
  	
<body id="landing">

	<%= render 'facebook' %>
	<%= render 'navbar' %>	
	<%= bootstrap_flash %>	  

	<%= yield %>

</body>

</html>