<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>cambiu</title>

  <!-- w3c/google's installable app -->
  <link rel="manifest" href="/manifest.json">

  <!-- ios' installable app -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#FF4081">
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

  <link href="<%= image_path 'apple-touch-icon.png' %>" rel="apple-touch-icon" />
  <link href="<%= image_path 'apple-touch-icon-180x180.png' %>" rel="apple-touch-icon" sizes="180x180" />
  <link href="<%= image_path 'icon-hires.png' %>" rel="icon" sizes="192x192" />
  <link href="<%= image_path 'icon-normal.png' %>" rel="icon" sizes="128x128" />


  <%= favicon_link_tag 'cambiu_vertical_white_bg.jpg', rel: 'apple-touch-icon', type: 'image/png' %>

  <%= favicon_link_tag '32px_white.png' %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <link href="//fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet" type="text/css" >

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all"  %>
</head>

<body id="cambiu" class="<%= "#{params[:controller]} #{Rails.env}" %>"  locale="<%= @locale %>">

	<%= yield %>

  <%= render 'google_analytics' %>
  <%= javascript_include_tag "payment", async: false  %>

</body>

</html>
